body{
    text-align:center;
}


/* --- HEADER ANIMACION --- */

#contenedor
{
    position:relative;
    margin: 0 auto;  
    width:450px;
    height:450px; 
}

.animacionHeaderFondo
{
    width:450px;
    height:150px;
}
.animacionHeaderMaquina
{
    position:absolute;
    top:0px;
    left:-30px;
    width:30px;
    height:150px;
    transform-origin:50% bottom;
}

.nivel1
{
    position:absolute;
    left:0px;
    top:0px;
}

.nivel2
{
    position:absolute;
    left:0px;
    top:150px;
}

.nivel3
{
    position:absolute;
    left:0px;
    top:300px;
}


.tierra 
{
    background-image: url('/Fraviser/images/ttierra.jpg'), url();
}

.tierra.impar 
{
    z-index: 1;
}

.tierra.par 
{
    z-index: 15;
    width:450px;
}

.sembradora{
    background-color:Green;
    z-index:16;
}

.tierraSembrada
{
    background-image: url('/Fraviser/images/ttierraArada.jpg'), url();   
}
.tierraSembrada.impar
{
    background-image: url('/Fraviser/images/ttierraArada.jpg'), url();
    z-index:2;
    width:0px;
}
.tierraSembrada.par
{
    background-image: url('/Fraviser/images/ttierraArada.jpg'), url();
    z-index:13;
}



